# Flutter/Dart related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# iOS related files
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/

# Android related files
android/.gradle/
android/app/build/
android/local.properties

# macOS related files
macos/Flutter/ephemeral/

# Windows related files
windows/flutter/ephemeral/

# Linux related files
linux/flutter/ephemeral/

# Web related files
web/.dart_tool/

# IDE settings
.idea/
.vscode/
*.iml
